<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>


<ol>
  <% @bookmarks.each do |bookmark| %>
  <div class = "bookmark" >
    <a href=" <%= bookmark[:url] %>">
      <%= bookmark[:title] %>
    </a>
    <form action="/bookmarks/<%=bookmark[:cocopops]%>" method ="post">
      <input type = "hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete"/>
    </form>
  </div>
  <% end %>
</ol>

<form action="/bookmarks/new" method = "get">
  <input type="submit" value="add">
</form>
